################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/314e90f8-af07-401c-a166-01e60f0be570.vsidx
